<div id="books">
  <% @books.in_groups_of(6, false).each do |books_group| %>

    <div class="row">
      <% books_group.each do |book| %>
          <div class="book">
            <div class="titulo">
            <%= book[:titulo] %>
            </div>
            <div class="autor">
              <%= book[:autor] %>
            </div>
            <div class="categoria">
              <a href="#"><%= book[:categoria] %></a>
            </div>
            <div class="status">
              <%= book[:status] %>
            </div>
        </div>
      <% end %>
    </div>

  <% end %>
</div>