<div class="book-card">
  <h3><%= book.title %></h3>
  <p><strong>Autor:</strong> <%= book.author %></p>
  <p><strong>Categoria:</strong> <%= book.category.name %></p>
  <p><strong>Status:</strong> <%= book.status %></p>
</div>